// Reset CSS
@import helpers/reset

// Helpers
@import helpers/breakpoints
@import helpers/font-type
@import helpers/gradient
@import helpers/keyframes
@import helpers/placeholder

// Typography
@import typography/typography

// Components
@import components/button
@import components/form
@import components/loader
@import components/accordion
@import components/user-info
@import components/request-notification
@import components/dropdown
@import components/modal

// Layout
@import layout/base
@import layout/header
@import layout/login
@import layout/failure-view
@import layout/greeting-view
@import layout/accounts
@import layout/main-screen
@import layout/pending-authorizations
@import layout/subview
@import layout/example
@import layout/animation
@import layout/print
@import layout/chest

.ui.fullscreen.modal
    width: 100%!important
    margin: 0
    height: 100%
    border-radius: 0
    padding-top: 92px

.ui.fullscreen.modal .header
    margin-top: -92px

.ui.fullscreen.modal .content
    height: 100%
    overflow-y: auto
    background-color: rgb(15,28,53)
    border-radius: 0
    color: white

.ui.fullscreen.modal .content .chest_box
    background: url('../img/frame_detail.png') center no-repeat
    background-size: 100%
    background-color: rgb(15,28,53)
    border-left: 3px solid rgb(103,117,126)
    border-right: 3px solid rgb(103,117,126)
    padding: 0
    position: relative
    margin: 0 10px

.ui.fullscreen.modal .content h4
    background: rgb(25, 68, 92 )
    padding: 10px
    text-shadow: 2px 1px 1px black
    color: rgb(211, 220, 214 )

.ui.fullscreen.modal .content .coin_box
    font-size: 12px
    position: relative
    height: 56px
    
.ui.fullscreen.modal .content .coin_box img
    width: 40px
    position: absolute
    top: 0
    left: 40px
    z-index: 3

.ui.fullscreen.modal .content .coin_box .coin
    background: url('../img/frame_1.png') center no-repeat
    background-size: 100%
    position: absolute
    top: 18px
    left: 60px
    font-size: 14px
    z-index: 1
    width: 120px
    height: 22px

.ui.fullscreen.modal .content .coin_box .title
    color: rgb(166,140,70)
    font-weight: bold
    position: absolute
    top: 0px
    left: 90px

.ui.fullscreen.modal .content .button
    color: white !important
    position: absolute
    right: 5px
    font-size: 12px
  
    